
services:
  backend:
    build: ./backend
    container_name: nest_app
    ports:
      - "4000:4000"
    depends_on:
      - db
    env_file:
      - .env
    command: ["npm", "run", "start:dev"]

  frontend:
    build: ./frontend
    container_name: nuxt_app
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file:
      - .env
    command: ["npm", "run", "dev"]

  simulator:
    build: ./simulator
    container_name: rust_simulator
    ports:
      - "4001:4001"
    command: ["cargo", "run"]
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
