
services:
  backend:
    build: ./backend
    container_name: nest_app
    ports:
      - "4000:4000"
    depends_on:
      - db
    env_file:
      - .env
    command: ["npm", "run", "start:dev"]

  frontend:
    build: ./frontend
    container_name: nuxt_app
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file:
      - .env
    command: ["npm", "run", "dev"]

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  db_test:
    image: postgres:15
    container_name: app_test_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_test_db
    ports:
      - "5433:5432"

volumes:
  db_data:
